<footer>
    <div class="container text-white">
        <div class="row">
            <div class="col-md-4">
                <div>
                    <img src="../../../assets/images/footer/Logo qader.svg" alt="">
                    <h5>منصة للعمل التطوعي توفر بيئة آمنة تخدم و تنظم العلاقة بين الجهات الموفرة للفرص التطوعية و
                        المتطوعين في جمهوية مصر العربية</h5>
                    <img src="../../../assets/images/footer/logo-masr.svg" alt="">
                </div>
            </div>
            <div class="col-md-2 pt-4">
                <div>
                    <h4>عن الموقع</h4>
                    <p>المؤسسات</p>
                    <p>فرص التطوع</p>
                    <p>سياسة الخصوصية</p>
                    <p>نصائح التطوع</p>
                </div>
            </div>
            <div class="col-md-2 pt-4">
                <div>
                    <h4>مصادر مهمة</h4>
                    <p>مركز المعلومات</p>
                    <p>وسائل مساعدة</p>
                    <p>تحديثات</p>
                    <p>تواصل معنا</p>
                </div>
            </div>
            <div class="col-md-4 pt-4" >
                <div>
                    <h3>احصل على اشعارات فرص التطوع الجديدة</h3>
                    <p>احصل على أخبار فرص التطوع الجديدة فور إضافتها على بريدك الإلكتروني</p>
                    <div class="d-flex justify-content-between">
                        <input type="text" class="form-control rounded-0" placeholder="البريد الإلكتروني">
                        <button class="btn btn-primary mx-1 rounded-0">اشترك</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>