<section class=" h-100 mt-5 pb-5">
    <div class=" w-50 m-auto h-100 mt-5 d-flex justify-content-center algin-items-center">
        <h2> وَلِكُلٍّ وِجْهَةٌ هُوَ مُوَلِّيهَا فَاسْتَبِقُوا الْخَيْرَاتِ أَيْنَ مَا تَكُونُوا يَأْتِ بِكُمُ اللَّهُ
            جَمِيعًا إِنَّ اللَّهَ عَلَى كُلِّ شَيْءٍ قَدِيرٌ.. [البقرة 148]
        </h2>
    </div>
    <div class="d-flex justify-content-center algin-items-center">
        <img src="../../../assets/images/Logo.png" class=" p-0 w-50 m-0" alt="">
    </div>
    <div>
        <p class="text-center">منصة للعمل التطوعي توفر بيئة آمنة تخدم و تنظم العلاقة بين الجهات الموفرة للفرص التطوعية و
            المتطوعين في جمهوية مصر العربية
        </p>
    </div>
    <div class="">

        <app-location></app-location>
    </div>
</section>

<app-aims></app-aims>

<app-platform></app-platform>
