<section>
    <div class="bg">
        <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true" (opened)="panelOpenState = true">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        1-ما هي منصة قادر؟
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p>منصة قادر للعمل التطوعي تُنظِم وتدير العلاقة بين الجهات الموفرة للفرص التطوعية والمتطوعين في جمهوية
                    مصر
                    العربية للقطاعات (الحكومي، الخاص، غير الربحي)</p>
            </mat-expansion-panel>
        </mat-accordion>

        <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        2-ما هي المميزات المقدمة من المنصة للأفراد؟
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <!-- <p>I'm visible because I am open</p> -->
            </mat-expansion-panel>
        </mat-accordion>

        <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        3-أواجه مشكلة تقنية في التسجيل أو في إستخدام المنصة؟
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <!-- <p>I'm visible because I am open</p> -->
            </mat-expansion-panel>
        </mat-accordion>

        <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        4-هل معلوماتي المقدمة آمنة؟
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <!-- <p>I'm visible because I am open</p> -->
            </mat-expansion-panel>
        </mat-accordion>

        <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        5-ما المتوقع مني تقديمه كمتطوع؟
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <!-- <p>I'm visible because I am open</p> -->
            </mat-expansion-panel>
        </mat-accordion>

        <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        6-هل يمكن لغير المحترفين التطوع؟
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <!-- <p>I'm visible because I am open</p> -->
            </mat-expansion-panel>
        </mat-accordion>

        <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        7-هل هناك أي قيود بالنسبة للمتطوعين؟
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <!-- <p>I'm visible because I am open</p> -->
            </mat-expansion-panel>
        </mat-accordion>

        <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        8-هل يمكن لغير الناطقين باللغة العربية التطوع؟
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <!-- <p>I'm visible because I am open</p> -->
            </mat-expansion-panel>
        </mat-accordion>

        <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        9-هل استطيع التطوع وانا من ذوي الإعاقة؟
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <!-- <p>I'm visible because I am open</p> -->
            </mat-expansion-panel>
        </mat-accordion>

        <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        10-متى يمكنني إصدار الشهادة التطوعية؟
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <!-- <p>I'm visible because I am open</p> -->
            </mat-expansion-panel>
        </mat-accordion>

        <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        11-هل يمكنني أن اعتذر عن فرصة تطوع؟
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <!-- <p>I'm visible because I am open</p> -->
            </mat-expansion-panel>
        </mat-accordion>



        <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        12-إذا شاركت في عمل تطوعي هل يمكنني أن أكتبه في السيرة الذاتية؟
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <!-- <p>I'm visible because I am open</p> -->
            </mat-expansion-panel>
        </mat-accordion>

        <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        13-كيف يمكنني أن التحق بعمل تطوعي؟
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <!-- <p>I'm visible because I am open</p> -->
            </mat-expansion-panel>
        </mat-accordion>
        <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        14-كيف يمكن قياس ساعاتي التطوعية؟
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <!-- <p>I'm visible because I am open</p> -->
            </mat-expansion-panel>
        </mat-accordion>
        <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        15-لدي فكرة تطوعية , كيف يمكنني تسجيلها؟
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <!-- <p>I'm visible because I am open</p> -->
            </mat-expansion-panel>
        </mat-accordion>

        <div>
            <h2>ما هو سؤال ؟</h2>
            <div>
                <textarea name="message" id=""></textarea>
            </div>
            <form action="">
                <div class="inputs d-flex justify-content-evenly aligin-items-center pt-4">
                    <div class="">
                        <label for="" class=" text-muted">الاسم بالكامل</label>
                        <input class="form-control w-100" type="text" name="fullname" id="" placeholder="Full Name"
                            required>
                    </div>
                    <div class="">
                        <label for="" class=" text-muted"> البريد الالكتروني</label>
                        <input class="form-control" type="text" name="fullname" id="" placeholder="mail@gmail.com"
                            required>
                    </div>
                </div>
                <div class="text-start p-5">
                    <button type="submit" class="btn btn-primary text-start" (click)="onSubmit($event)">إرسال</button>
                </div>
            </form>
        </div>
    </div>
</section>