/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap');

.ibm-plex-sans-arabic-thin {
    font-family: "IBM Plex Sans Arabic", sans-serif;
    font-weight: 100;
    font-style: normal;
}
body{
    direction: rtl;

}
.navActive{
    color:#0073EB !important;
}